@model CRUD.Models.Usuario;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 class="text-primary">Cadastro de Usuario</h1>
    <hr>
     <h4>Deseja realmente excluir o usuario:<span class="text-danger">@Model.Nome?</span> </h4>
     <form method="POST" class="w-25">
      <div class="mt-3">
            <a asp-action="Usuarios" class="btn btn-success">Nao</a>
            <button class="btn btn-danger" type="submit">Sim</button>
      </div>
     </form>
</body>
</html>